html {
  /* Couleurs par défaut du terminal */
  --terminal-background: #111;
  --terminal-foreground: #eee;

  /* == THEMES == */
  /* Un thème doit définir:
   * - 3 couleurs de base (background, foreground et foreground-alt), pour le
   * texte et le code
   * - 5 couleurs de code (keyword, type, literal, string, comment)
   * - 3 couleurs supplémentaires (success, hint, error) pour les messages des tests
   * 
   * Le HTML du sujet ne différencie pas les noms de variables, de fonction,
   * ou les constantes, donc on ne peut pas les colorer séparément dans le code.
   *
   * Quelques thèmes populaires sont inclus, activables en supprimant la
   * ligne de commentaire "/*" devant.
   * Pour ajouter votre thème préféré, ouvrez un color picker (par
   * exemple 'gcolor3' sur Ubuntu), zoomez au max dans votre éditeur, et
   * récupérez les 11 couleurs comme ça.
   */

  /* Eclipse */
  --background: #2f2f2f;
  --foreground: #f9faf4;
  --foreground-alt: #515658;
  --keyword: #cc6c1d;
  --type: #1290c3;
  --literal: #6897bb;
  --string: #17c6a3;
  --comment: #808080;
  --success: #a7ec21;
  --hint: var(--type);
  --error: #eb4b64;

  /* Dark+ (VSCode default) */
  /*
  --background: #1e1e1e;
  --foreground: #d4d4d4;
  --foreground-alt: #858585;
  --keyword: #c586c0;
  --type: #569cd6;
  --literal: #b5cea8;
  --string: #ce9178;
  --comment: #6a9955;
  --success: #23d18b;
  --hint: var(--type);
  --error: #f14c4c;

  /* Monokai */
  /*
  --background: #282923;
  --foreground: #f8f8f2;
  --foreground-alt: #90918b;
  --keyword: #f92472;
  --type: #67d8ef;
  --literal: #ac80ff;
  --string: #e7db74;
  --comment: #74705d;
  --success: #a6e22c;
  --hint: var(--type);
  --error: #f92424;

  /* Solarized Dark */
  /*
  --background: #002b36;
  --foreground: #839496;
  --foreground-alt: #586e75;
  --keyword: #859900;
  --type: #268bd2;
  --literal: #6c71c4;
  --string: #2aa198;
  --comment: #586e75;
  --success: var(--keyword);
  --hint: var(--type);
  --error: #dc322f;

  /* Solarized Light */
  /*
  --background: #fdf6e3;
  --foreground: #657b83;
  --foreground-alt: #93a1a1;
  --keyword: #859900;
  --type: #268bd2;
  --literal: #6c71c4;
  --string: #2aa198;
  --comment: #93a1a1;
  --success: var(--keyword);
  --hint: var(--type);
  --error: #dc322f;

  /* Mariana / One Dark */
  /*
  --background: #303841;
  --foreground: #ffffff;
  --foreground-alt: #848b95;
  --keyword: #6699cc;
  --type: #c695c6;
  --literal: #f9ae58;
  --string: #99c794;
  --comment: #a6acb9;
  --success: var(--string);
  --hint: var(--type);
  --error: #ec5f66;

  /* Ponctuation de la même couleur que le texte */
  --punctuation: var(--foreground);
}

/* ===== TEXTE ===== */

body, #inner-container, .pln {
  background-color: var(--background);
  color: var(--foreground);
}
/* Utiliser une meilleure police */
/* (sélecteur ultra-spécifique pour avoir la priorité sur
 * la stylesheet de base, qui définit la police à 14 endroits
 * différents) */
body, p:lang(en), p:lang(fr), td, li, check, hint, success {
  font-family: Cantarell, Ubuntu, Segoe UI, sans-serif;
}

/* Liens */
a {
  color: var(--type);
}

/* Titres */
h1, h2, h3, h4, h5 {
	color: var(--foreground);
	border-color: var(--foreground-alt);
}

/* Messages après tests */
hint {
	color: var(--hint);
}
answer, success {
	color: var(--success);
}

/* Boutons */
button {
	color: var(--foreground);
	background-color: var(--background);
	padding: 5px 10px;
	border-radius: 10px;
	border: 1px solid var(--foreground-alt);
}
button:hover {
	cursor: pointer;
	color: var(--background);
	background-color: var(--foreground);
}
xfr button {
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center;
}

/* Un peu de marge et d'arrondi pour les blocs de code
 * et paragraphes français */
pre.prettyprint {
	border-color: var(--foreground-alt);
	border-radius: 10px;
	padding: 10px;
	font-family: monospace;
}
p:lang(fr) {
	background-color: var(--terminal-background);
	border-radius: 10px;
	border: none;
	padding: 10px;
}

/* Terminal */
.terminal {
	background-color: var(--terminal-background);
	color: var(--terminal-foreground);
	border-radius: 10px;
	border-color: var(--terminal-background);
	font-family: monospace;
}

/* Noms d'éléments Java dans le texte */
.java-method, .java-keyword, .java-class, .java-field, .java-lvar, .java-package {
	color: var(--type);
	font-family: monospace;
}
.java-keyword {
	color: var(--keyword);
}
.stderr {
	color: var(--error);
}

/* ===== COLORATION SYNTAXIQUE DU CODE ===== */

.kwd { /* Mots-clés */
  color: var(--keyword);
}
.typ { /* Types */
  color: var(--type);
}
.com { /* Commentaires */
  color: var(--comment);
}
.lit { /* Valeurs litterales (nombres) */
  color: var(--literal);
}
.str { /* Strings */
  color: var(--string);
}
.pun { /* Ponctuation */
  color: var(--punctuation);
}
